@import "inc/mixin";
@import "inc/baseinfo";

//
// TOP Page
//
// --INDEX
//

// common
.contents{
  &__wrap{
    position: absolute;
    width: 100%;
    padding: 0 6%;
    top: 8rem;
    top: 80px / 1366px * 100vw;
    left: 0;
  }
}

// section

.top{
  &__contents{
  }

  &__copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  &__title{
    font-size: 6rem;
    font-weight: bold;
    color: $color-main;
  }
}


// about
.about{
  &__sec{
    margin-top: 4rem;
    margin-top: 64px / 1920px * 100vw;
  }

}
